.message.myUser{
    position: relative;
    left: 460px;
    /* border: solid black; */
    /* width: 500px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
    margin-top: 15px;
}
.message{
    position: relative;
    /* bottom: 50px; */
    /* top: 0px; */
    width: 400px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* word-break: break-all; */


}
.messagePopup{
    background-color: white;
    border: solid gray;
    z-index: 5;
    position: absolute;

}
.editMessage{
    padding: 5px;
}

.editMessage:hover{
    background-color: gray;
    cursor: pointer;
}

.deleteMessage{
    padding: 5px;
}

.deleteMessage:hover{
    background-color: gray;
    cursor: pointer;
}


.message{
    margin: 5px;
    cursor: pointer;
}
