.messageBoards{
    border: solid gray;
    border-radius: 15px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    height: 800px;
    margin-left: 50px;
    /* position: relative; */
    /* left: 50px; */
}
.messageBoardTabs{
    width: 300px;
    height: 640px;
    border: solid black;
    /* padding-top: 8px; */
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 0;
    /* background-color: white; */
}

.messageBoardTabs::-webkit-scrollbar{
    width: 15px;
}
.messageBoardTabs::-webkit-scrollbar-track{

}
.messageBoardTabs::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0, 0.6);
}
.messageBoardSelectTabs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 190px;
    height: 40px;
    position: absolute;
    bottom: 785px;
    left: 200px;
    font-size: 20px;
}

.messageBoardSelectTabs p{
    position: relative;
    top: 5px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 6px;
    padding-bottom: 8px;
    margin: 0;
    border: solid gray;
    cursor: pointer;
}

.messageBoardSelectTabs.messageSearchTabs p{
    position: relative;
    top: 5px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 6px;
    padding-bottom: 8px;
    margin: 0;
    border: solid green;
    /* cursor: pointer; */
    width: 5px;
}

.messageBoardTab img{
    height: 50px;
    width: 50px;
}

.messageBoardTab {
    padding: 5px 25px 5px 0px;
    height: 50px;
    width: 330px;
    margin-right: 0px;
}
.messageBoardTab:hover{
    cursor: pointer;
    background-color: lightblue;
}

.messageBoardTab .username{
    position: relative;
    bottom: 65px;
    left: 55px;
}
.messageBoardTab p{
    margin: 15px 0px 5px 0px;
    padding: 0;
}

.messageBoardTab .lastMessage{
    position: relative;
    bottom: 75px;
    left: 55px;
    width: 200px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 0;
}

.messageBoardTab .timeSince{
    position: relative;
    bottom: 110px;
    left: 265px;
    width: min-content;
}

.messagesSearch{
    position: relative;
    top: 10px;
    margin-bottom: 15px;
    width: 280px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 5px 5px 35px;
}

.messageBoards i.fa-search{
    position: relative;
    bottom: 36px;
    right: 140px;
}

.boardTitle{
    position: absolute;
    top: 32px;
    left: 325px;
    font-size: 40px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
    background-color: rgb(183, 183, 183);
    margin: 0;
}

.messageBoardContextMenu{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 7px;
    width: 890px;
    top: 10px;
    height: 94px;
    z-index: 10;
}

.messageBoardContextMenu p{
    border: solid gray;
    width: 250px;
    text-align: center;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

p.editMessageBoard{
    position: relative;
    /* left: 5px; */
}
p.deleteMessageBoard{
    position: relative;
    /* right: 5px; */
}
.messageBoardContextMenu p:hover{
    cursor: pointer;
    background-color: gray;
    color: white;
}

.messageBoardContextMenu h3{
    text-align: center;
}
