.messageBoards{
    border: solid gray;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    border-radius: 15px;
    height: 800px;
}
.messageBoardTabs{
    width: 300px;
    height: 640px;
    border: solid black;
    padding-top: 8px;
    border-radius: 15px;
    overflow-y: scroll;
}
.messageBoardSelectTabs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 190px;
    height: 40px;
    position: absolute;
    top: 64px;
    left: 170px;
    font-size: 20px;
}

.messageBoardSelectTabs p{
    position: relative;
    top: 5px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 6px;
    padding-bottom: 8px;
    margin: 0;
    border: solid gray;
    cursor: pointer;
}

.messageBoardTab img{
    height: 50px;
    width: 50px;
}

.messageBoardTab {
    padding: 5px;
    height: 50px;
    width: 300px;
}
.messageBoardTab:hover{
    cursor: pointer;
    background-color: lightblue;
}

.messageBoardTab .username{
    position: relative;
    bottom: 65px;
    left: 55px;
}

.messageBoardTab .lastMessage{
    position: relative;
    bottom: 75px;
    left: 55px;
    width: 200px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.messageBoardTab .timeSince{
    position: relative;
    bottom: 110px;
    left: 265px;
    width: min-content;
    margin: 0;
}

.messagesSearch{
    position: relative;
    margin-bottom: 15px;
    width: 280px;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 5px 5px 35px;
}

.messageBoards i.fa-search{
    position: relative;
    bottom: 45px;
    right: 140px;
}
