.carouselParent{
    width: 1500px;
    /* position: relative; */
}

.splashDivCarousel .carousel-root{
    position: absolute;
    width: 1500px;
    left: 180px;
    z-index: 0;
}

/* .control-arrow{
    display: none;
} */
.carouselCard1{
    cursor: pointer;
    height: 363px;
    width: 1500px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: rgb(159, 5, 55);
}

.carouselCard1 .mainDiv1{
    color: rgb(255, 222, 199)
}
.carouselCard1 .mainDiv1 p{
    margin: 0;
    padding: 0;
}
.mainPTag1{
    width: 450px;
    font-size: 60px;
    font-weight: 900;
    text-align: left;
    position: relative;
    left: 25px;
    bottom: 25px;
}

.secondaryPTag1{
    font-size: 30px;
    width: 450px;
    text-align: left;
    position: relative;
    left: 25px;
}
.carouselCard1 .imagesDiv1{
    margin: 0;
    padding: 0;
    height: 363px;
    width: 1000px;
    position: relative;

}

.carouselCard1 .imagesDiv1 img{
    position: relative;
}


.carouselCard2{
    cursor: pointer;
    height: 363px;
    width: 1500px;
    position: relative;
    /* left: 200px; */
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color: rgb(103, 2, 36);
}

.carouselCard2 .imagesDiv2{
    height: 363px;
}

.carouselCard2 .imagesDiv2 img{
    height: 363px;
    object-fit: contain;
}

.carouselCard2 .mainDiv2{
    color: white;
}

.carouselCard2 .mainDiv2 .mainPTag2{
    font-size: 60px;
    width: 440px;
    text-align: left;
    position: relative;
    left: 55px;
    bottom: 15px;
    font-weight: 800;
}


.carouselCard2 .mainDiv2 .secondaryPTag2{
    font-size: 30px;
    text-align: left;
    position: relative;
    left: 55px;
    margin: 0;
    bottom: 50px;
    width: 450px;
}

.carouselCard3{
    cursor: pointer;
    height: 363px;
    width: 1500px;
    position: relative;
    /* left: 200px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: rgb(159, 5, 55);
}


.carouselCard3 .mainDiv3{
    height: 363px;
}
.carouselCard3 .imagesDiv3{
    height: 363px;
    display: flex;
    position: relative;
    right: 50px;
}
.carouselCard3 .imagesDiv3 img{
    height: 363px;
    width: 380px;
    position: relative;
    left: 30px;
}
.click1{
    top: 0px;
    left: 380px;
    position: absolute;
    height: 500px;
    width: 380px;
}
.click2{
    top: 0px;
    left: 762px;
    position: absolute;
    height: 500px;
    width: 380px;
}
.click3{
    top: 0px;
    left: 1142px;
    position: absolute;
    height: 500px;
    width: 358px;
}

.carouselCard3 .mainDiv3 p{
    color: white;
    font-size: 60px;
    width: 400px;
    text-align: left;
    position: relative;
    bottom: 50px;
    left: 30px;
}

.carousel-status{
    display: none;
}

.carousel3Button{
    position: relative;
    bottom: 60px;
    right: 20px;
    padding: 5px 10px;
}
