.warningModal{
    width: 500px;
    height: 500px;
    background-color: gray;
    position: fixed;
    top: 200px;
    left: 670px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 0 1000vmax rgba(0,0,0,.8);
}

.warningModal p{
    font-size: 35px;
    font-weight: 700;
    width: 80%;
}

.warningModal .warningModalPasswordBox i{
    position: relative;
    right: 50px;
    top: 48px;
    cursor: pointer;
}

.warningModal .warningModalPasswordBox input{
    position: relative;
    top: 50px;
    width: 400px;
    font-size: 25px;
    padding: 5px;
    border: solid gray;
}

.warningModal button{
    position: relative;
    top: 150px;
    width: 450px;
    font-size: 25px;
    height: 45px;
    border-radius: 15px;
    cursor: pointer;
}

p.invalidPasswordWarningModal{
    position: absolute;
    bottom: 240px;
    font-size: 25px;
    z-index: 1;
    font-weight: 300;
    left: 35px;

}

h4.invalidPasswordWarningModal{
    position: absolute;
}
