.userProfile .itemCards{
    position: relative;
    top: 50px;
}

.userProfile .userTag{
    position: relative;
    top: 50px;
    left: 50px;
    margin-bottom: 35px;
}

.editAccountButton{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 350px;
    /* top: 27px; */
    bottom: 56px;
    border: solid gray;
    width: 240px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.editAccountButton:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
}

.ItemsIntroduction{
    border: solid gray;
    display: flex;
    justify-content: center;
    position: relative;
    /* top: 80px; */
    left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 45px;
    font-size: 35px;
    width: 91.5%;
    z-index: 0;
    background-color: white;
}
