.search{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* left: 400px; */
    /* bottom: 40px; */
    /* border: solid black; */
}
.search input{
    width: 730px;
    height: 30px;
    padding-left: 15px;
    font-size: 25px;
    position: relative;
    /* right: 50px; */
}


.categoryModalButton{
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 75px;
    height: 50px;
    padding: 5px;
    margin: 0;
    border-radius: 25px;
}

.categoryModalButton:hover{
    background-color: rgb(223, 223, 223);
}
.Dropdown-root{
    width: 220px;
    /* height: 15px; */
    cursor: pointer;
}

.search div.Dropdown-control{
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 35px;
    /* width: 170px; */
    overflow: hidden;
}

.search div.Dropdown-control .Dropdown-placeholder{
    font-size: 22px;
    overflow: hidden;

}

.categoryModalButton p{
    font-size: 20px;
    height: 45px;
    width: 1450px;
    /* border: solid black; */
    position: relative;
    right: 50px;
    text-align: center;
}

.searchButton{
    position: absolute;
    right: 200px;
    background-color: white;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchButton:hover{
    cursor: pointer;
}
