
.itemCards{
    position: relative;
    top: 400px;
    /* border: solid black; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1000px;
    gap: 30px;
    padding-bottom: 100px;
    left: 100px;
}

.cardPhotoDiv img{
    height: 150px;
    width: 200px;
    object-fit: contain;
    position: relative;
    /* left: 50px; */
    /* top: 50px; */
    bottom: 30px;


}

.cardPhotoDiv{
    height: 100px;
    width: 200px;
}

.itemCardDiv{
    display: flex;
    width: 480px;
    height: 200px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 77px;
    cursor: pointer;
    background-color: white;
    /* border: solid rgb(82, 81, 81); */
    /* box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2); */
}

.cardData{
    width: 200px;
}
