
.itemCards{
    position: relative;
    top: 400px;
    /* border: solid black; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1000px;
    gap: 30px;
    padding-bottom: 200px;
    left: 100px;
}

.cardPhotoDiv img{
    height: 150px;
    width: 200px;
    object-fit: contain;
    position: relative;

    bottom: 30px;


}

.cardPhotoDiv{
    height: 100px;
    width: 200px;
}

.itemCardDiv{
    display: flex;
    width: 480px;
    height: 200px;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 77px;
    cursor: pointer;
    background-color: white;
}

.itemCardDiv:hover{
    outline: solid rgb(0, 0, 0, 0.8);
}

.cardData{
    width: 200px;
}
