.messagesPage{
    display: flex;
}
.messages{
    border-radius: 25px;
    border: solid black;
    width: 900px;
    height: 800px;
    position: relative;
    left: 300px;
    display: flex;
    flex-direction: column;
}

.message{
    display: flex;
    position: relative;
    left: 25px;
    top: 25px;
}

.message img{
    height: 50px;
    width: 50px;
}

.newMessageInput{
    position: absolute;
    bottom: 30px;
    /* right: 9px; */
    left: 20px;
    width: 82%;
    font-size: 25px;
    border-radius: 15px;
}

.messagesPage button{
    position: absolute;
    left: 777px;
    bottom: 30px;
    width: 100px;
    height: 35px;
    border-radius: 5px;
}
